# Prometheus datasource for Istio/mesh metrics.
# OpenShift User Workload: use prometheus-user-workload (ClusterIP); prometheus-operated:9090
# often gives "connection refused" from other namespaces. If 9091 fails, try your cluster's
# Thanos querier (e.g. thanos-querier-nfl-wallet-*-.openshift-cluster-observability-operator.svc:10902).
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: prometheus-istio
  namespace: observability
spec:
  instanceSelector:
    matchLabels:
      dashboards: nfl-wallet
  datasource:
    name: Prometheus
    type: prometheus
    access: proxy
    url: "http://prometheus-user-workload.openshift-user-workload-monitoring.svc.cluster.local:9091"
    isDefault: true
    uid: prometheus
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
