# Prometheus datasource for Istio/mesh metrics.
# Use IN-CLUSTER URLs only (no .apps. Route). Default: Thanos querier (accepts Grafana queries;
# prometheus-user-workload:9091 often returns 400 on POST /api/ds/query). For Istio data ensure
# that store scrapes the mesh (ServiceMonitors in nfl-wallet-* namespaces).
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: prometheus-istio
  namespace: observability
spec:
  instanceSelector:
    matchLabels:
      dashboards: nfl-wallet
  datasource:
    name: Prometheus
    type: prometheus
    access: proxy
    url: "http://thanos-querier-nfl-wallet-east-nfl-wallet-prod-thanos.openshift-cluster-observability-operator.svc.cluster.local:10902"
    isDefault: true
    uid: prometheus
    jsonData:
      timeInterval: "15s"
      httpMethod: GET
