# Prometheus datasource for Istio/mesh metrics.
# Use the IN-CLUSTER service URL below. Do NOT use the OpenShift Route URL
# (e.g. ...prometheus-user-workload-...apps.cluster-lzdjz...): Routes often return 401 or 400
# for Prometheus API requests. In-cluster: prometheus-user-workload on 9091.
# If 9091 fails, try thanos-querier in openshift-cluster-observability-operator (e.g. :10902).
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: prometheus-istio
  namespace: observability
spec:
  instanceSelector:
    matchLabels:
      dashboards: nfl-wallet
  datasource:
    name: Prometheus
    type: prometheus
    access: proxy
    url: "http://prometheus-user-workload.openshift-user-workload-monitoring.svc.cluster.local:9091"
    isDefault: true
    uid: prometheus
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
